body {
    padding: 0;
    margin: 0;
    background-color: black;
}

img {
    /* width: 100vw;
    height: 100vh;
    display: block; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Make images fit the container */
    height: 100%;
    background-position: center;
    object-fit: contain;
}

.layout {
    width: 100vw;
    height: 100vh;
}