body {
    padding: 0;
    margin: 0;
    background-color: black;
}

main {
    display: flex;
}

img {
    /* width: 100vw;
    height: 100vh;
    */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Make images fit the container */
    height: 100%;
    background-position: center;
    object-fit: contain;
    pointer-events: none;
    /* z-index: -1; */
    /* margin: 5%; */
}

.layout {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#nav-box {
    display: flex;
    background-color: rgb(65, 85, 92);
    justify-content: space-around;
    /* position: relative; */
    height: 50vh;
    width: 10vw;
    margin: 30px;
    border-radius: 10px;
}

.btn {
    /* margin: 30px 10px; */
    margin: auto;
    display: inline-block;
    border: 0;
    /* line-height: 2.5; */
    min-height: 10%;
    width: auto;
    padding: 0 10%;
    font-size: 90%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 10px;
    background-color: rgb(9, 32, 41);
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(117, 14, 17);
}

.btn:active {
    box-shadow:
        inset -2px -2px 3px rgb(255 255 255 / 0.6),
        inset 2px 2px 3px rgb(0 0 0 / 0.6);
}

#char {
    opacity: 1;
    transition: opacity 0.4s ease;
}